.new-data{

    position: absolute;
    left :20px;
    top :375px;
    width: 520px;
    height: 440px;
    background-color: rgb(112, 51, 255);
}

.new-data__control label {
    font-weight: bold;

    display: block;
    font-size: 20px;
    color:white;
  }
  
  .new-data__control input {
    font: inherit;
    border-radius: 6px;
    border: 3px solid rgb(110, 139, 243);
    width: 340px;
    max-width: 100%;
  }

  .new-data__control button {
    font: inherit;
    font-weight: bold;
    font-size : 20px;
    color:white;
    border-radius: 6px;
    border: 3px solid rgb(110, 139, 243);
    width: 80px;
    max-width: 100%;
    background-color: rgb(110, 139, 243);
    line-height: 0px;
  }

  .new-data__control button:disabled {
    font: inherit;
    font-weight: bold;
    font-size : 20px;
    color:rgb(161, 178, 242);
    border-radius: 6px;
    border: 3px solid rgb(110, 139, 243);
    width: 80px;
    max-width: 100%;
    line-height: 0px;
    background-color: rgb(110, 139, 243);
  }
  .new-data__control{
    display: flex;
    position: relative;
    margin: 20px;
    justify-content: space-between;
  }

  .new-data__control2 input {
    font: inherit;
    border-radius: 6px;
    border: 3px solid rgb(110, 139, 243);
    height: 150px;
    width: 470px;
    max-width: 100%;
    display: flex;
    margin: 20px;
  }

  .new-data__time{
    color:white;
    font-size: 20px;
    text-align: left;
    position: absolute;
    left :130px;
    font-weight: bold;
  }