.new-data{

    position: absolute;
    left :20px;
    top :375px;
    width: 520px;
    height: 440px;
}

.new-data__control label {
    font-weight: bold;

    display: block;
    font-size: 20px;

  }
  
.new-data__control input {
    font: inherit;
    border-radius: 6px;
    width: 346px;
    max-width: 100%;
  }

.new-data__control button {
    font: inherit;
    font-weight: bold;
    font-size : 20px;
    color:white;
    border-radius: 6px;
    border: 3px solid;
    width: 80px;
    max-width: 100%;
    line-height: 0px;
  }

  .new-data__control button:disabled {
    font: inherit;
    font-weight: bold;
    font-size : 20px;
    border-radius: 6px;
    border: 3px solid;
    width: 80px;
    max-width: 100%;
    line-height: 0px;
  }
  .new-data__control{
    display: flex;
    position: relative;
    margin: 20px;
    justify-content: space-between;
  }

  .new-data__control2 textarea {
    font: inherit;
    border-radius: 6px;
    border: 3px solid ;
    
    height: 140px;
    width: 470px;
    max-width: 100%;
    display: flex;
    margin: 20px;
  }

  .new-data__time{
    font-size: 20px;
    text-align: left;
    position: absolute;
    left :130px;
    font-weight: bold;
  }

  #submit_button{
    height: 40px;
  }

  .new-data_mobile{

    position: absolute;
    left :5%;
    top :29%;
    width: 90%;
}
.new-data__control_mobile label {
    font-weight: bold;
    width : 15%;
    height: 5%;
    display: block;
    font-size: 12px;

  }
.new-data__control_mobile input {
    font: inherit;
    border-radius: 6px;
    width: 85%;
    height: 5%;
  }
.new-data__control_mobile button {
    font: inherit;
    font-weight: bold;
    font-size : 18px;
    color:white;
    border-radius: 6px;
    border: 3px solid;
    width: 35%;
    max-width: 100%;
    line-height: 0px;
    left: 65%;
  }

  .new-data__control_mobile button:disabled {
    font: inherit;
    font-weight: bold;
    font-size : 18px;
    border-radius: 6px;
    border: 3px solid;
    width: 35%;
    max-width: 100%;
    line-height: 0px;
    left: 65%;
  }

  .new-data__control_mobile{
    display: flex;
    position: relative;
    margin: 5px;
    justify-content: space-between;
  }

  .new-data__control2_mobile textarea {
    font: inherit;
    border-radius: 6px;
    border: 3px solid ;
    
    height: 300px;
    width: 96%;
    margin: 5px;
    display: flex;
  }
  .new-data__time_mobile{
    font-size: 12px;
    text-align: left;
    position: absolute;
    font-weight: bold;
    left: 15%;
  }