.article{
    position: absolute;
    left: 0px;
    top: 335px;
    width: 1280px;
    height: 565px;
    background-color: #ACC0F1;
}

.chartTitle{
    position: absolute;
    left : 290px;
    top : 20px;
    height: 45px;
    width: 470px;
    background-color: #CFDAF4;
}


.chartSpecific{
    position: absolute;
    left : 780px;
    top : 20px;
    height: 525px;
    width: 480px;
    background-color: #CFDAF4;
}

.chartControl{
    position: absolute;
    display: flex ;
    left : 460px;
    top : 505px;
    height : 40px;
    width: 100px;
    justify-content: space-between;
    align-items : center;
}

.chartButton{
    border-radius: 10px;
    height : 40px;
    width : 40px;
}

.buttonContainer{
    position: absolute;
    left:20px;
    top:20px;
    width: 250px;
    height: 525px;
}
.hexButton0{
    position: absolute;
    top : 0px;
    left: 144px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hexButton1{
    position: absolute;
    top : 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hexButton2{
    position: absolute;
    top : 82px;
    left: 48px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hexButton3{
    position: absolute;
    top : 164px;
    left: 0px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hexButton4{
    position: absolute;
    top : 164px;
    left: 96px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hexButton5{
    position: absolute;
    top : 246px;
    left: 48px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hexButton6{
    position: absolute;
    top : 328px;
    left: 0px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hexButton7{
    position: absolute;
    top : 328px;
    left: 96px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hexButton8{
    position: absolute;
    top : 410px;
    left: 48px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hexButton9{
    position: absolute;
    top : 410px;
    left: 144px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}