.article{
    position: absolute;
    left: 0px;
    top: 335px;
    width: 1280px;
    height: 565px;
    background-color: rgb(110, 139, 243);
}

.chartTitle{
    position: absolute;
    left : 20px;
    top : 20px;
    height: 45px;
    width: 740px;
    background-color: rgb(208, 208, 208);
}


.chartSpecific{
    position: absolute;
    left : 780px;
    top : 20px;
    height: 525px;
    width: 480px;
    background-color: rgb(229, 229, 229);
}