.graph{
    position: absolute;
    left: 0px;
    top: 65px;
    width: 900px;
    height: 250px;
}

.graphTitle{
    position: absolute;
    top : 10px;
    left: 20px;
    width: 900px;
    height: 50px;
    font-size: 40px;
    color: #5f6b8e;
    font-weight: bold;
}

#nousagi_4{
    position: absolute;
    left: 310px;
    width:70px;
    user-select: none;
}

#kanata_1{
    position: absolute;
    left: 820px;
    top: 0px;
    width: 80px;
    user-select: none;
}