.login{
    position: absolute;
    width: 400px;
    height: 640px;
    text-align: center;
    background-color: rgb(143, 165, 241);
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-top: -320px;
    margin-left: -200px;
    color: #fff;
    box-shadow: none;
    font-size: 20px;
}

.login_mobile{
    position: absolute;
    width: 100%;
    height: 100%px;
    text-align: center;
    background-color: rgb(143, 165, 241);
    z-index: 100;
    top: 0;
    left: 0;
    color: #fff;
    box-shadow: none;
    font-size: 20px;
}

.login h1{
    font-size: 32px;
}

.dimmer{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: #00000080;
    z-index: 90;
}

.login_blank{
    height: 150px;
}



.circle_1{
    position: absolute;
    left: 240px;
    top:250px;
}

.circle_2{
    position: absolute;
    left: 140px;
    top:120px;
}

.line_1{
    position: absolute;
    left:155px;
    top:138px;
    width: 245px;
    height: 4px;
    background-color: #435585;
}
.line_2{
    position: absolute;
    left: 258px;
    top:268px;
    height: 372px;
    width: 4px;
    background-color: #435585;
}