.login{
    position: absolute;
    width: 400px;
    height: 640px;
    text-align: center;
    background-color: rgb(143, 165, 241);
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-top: -320px;
    margin-left: -200px;
    color: #fff;
    box-shadow: none;
    font-size: 20px;
}

.login_mobile{
    position: absolute;
    width: 95%;
    height: 95%;
    text-align: center;
    background-color: rgb(143, 165, 241);
    z-index: 100;
    top: 2.5%;
    left: 2.5%;
    color: #fff;
    box-shadow: none;
    font-size: 20px;
}

.login h1{
    font-size: 32px;
}

.dimmer{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: #00000080;
    z-index: 90;
}

.login_blank{
    height: 23.4%;
}

.line_1{
    position: absolute;
    left:38.75%;
    top:21.7%;
    width: 61.25%;
    height: 0.625%;
    background-color: #435585;
}
.line_2{
    position: absolute;
    left: 64.5%;
    top:41.775%;
    height: 58.125%;
    width: 1%;
    background-color: #435585;
}