/* Rectangle 4 */

.main-bar {
position: absolute;
width: 1560px;
height: 45px;
display: flex;
justify-content: space-between;
flex-direction: row;
border-radius: 10px;

}

.right-bar{
    position: absolute;
    left: 1505px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    top: 5%;

}

.left-bar{
    width: 1200px;
    height: 45px;
    display: flex;
    align-items: center;
}

.nav-button{
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.title{
    font-size: 25px;
    margin: 0 ;
    font-weight: bold;
}

.main-bar__time{
    position: absolute;
    left : 1400px;
    font-size: 25px;
    margin: 0 ;
    font-weight: bold;
}
