.music_player{
    position: absolute;
    left :1580px;
    width : 280px;
    height: 45px;
    background-color: #C3CFF1;
}

.music_volume{
    position: absolute;
    left :160px;
    top :2px;
    width: 100px;
    accent-color: #8491C9;

}

.music_time{
    position: absolute;
    left :20px;
    top :22.5px;
    width: 240px;
    accent-color: #F7A549;
}

.volume{
    position: absolute;
    left : 140px;
    top: 0px;
}