.music_player{
    position: absolute;
    left :1580px;
    width : 280px;
    height: 45px;
}

.music_volume{
    position: absolute;
    left :160px;
    top :2px;
    width: 100px;
}

.music_time{
    position: absolute;
    left :20px;
    top :22.5px;
    width: 240px;
}

.volume{
    position: absolute;
    left : 140px;
    top: 0px;
}

.audio_control{
    position: absolute;
    top: 2px;
    left : 20px;
    width: 110px;
    display: flex;
    justify-content: space-between;
}