.stop-watch__button{
    border-radius: 10px;
    width:200px;
    height: 80px;
    left: 340px;
    top: 130px;
    position: absolute;
    font-size: 50px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    border: 0px ;
}

.stop-watch__circle{
    border-radius: 300px;
    width:300px;
    height: 300px;
    left: 20px;
    top: 20px;
    position: absolute;

}

.stop-watch__button_mobile{
    border-radius: 10px;
    top:7%;
    left : 45%;
    width:50%;
    height: 10%;
    position: absolute;
    font-size: 40px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 0px ;
}

.mobile_flex{
    display: flex;
    justify-content: space-between;
}