.time-display{
    position: absolute;
    left: 920px;
    top: 65px;
    width: 360px;
    height: 250px;
}

.time-display__upper{
    position: absolute;
    top:20px;
    left:20px;
    width: 320px;
    height:95px;
}

.time-display__lower{
    position: absolute;
    top:135px;
    width: 320px;
    height:95px;
    left:20px;
}

.time-text{
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 50px;
    margin: 0 auto;
    font-weight: bold;
}

.time-display_mobile{
    position: absolute;
    left: 5%;
    top: 2%;
    width: 35%;
    height: 20%;
}

.time-display__upper_mobile{
    position: absolute;
    top:10%;
    left:10%;
    width: 80%;
    height:35%;
}

.time-display__lower_mobile{
    position: absolute;
    top:55%;
    width: 80%;
    height:35%;
    left:10%;
}

.time-text_mobile{
    position: absolute;
    font-size: 30px;
    margin: 0 auto;
    font-weight: bold;
    line-height: 100%;
}