.multi-button{
    width:350px;
    height: 29px;
    display: flex;
    justify-content: space-between;
}

.multi-button button{
    color: white;
    font-size: 20px;
    text-align: center;
    border: 0px;
    padding: 0px;
    margin: 0px;
}